{{/* Still contains some classes from Wordpress, out of convencience */}}

<div class="wpforms-container wpforms-container-full" id="wpforms-94">
	<form class="wpforms-form" method="post" enctype="multipart/form-data" action="https://app.99inbound.com/api/e/od8nqErf">
		<div class="wpforms-field-container">
			<div id="wpforms-94-field_0-container" class="wpforms-field wpforms-field-name" data-field-id="0">
				<label class="wpforms-field-label" for="wpforms-94-field_0">Name <span class="wpforms-required-label">*</span></label>
				<div class="wpforms-field-row wpforms-field-medium">
					<div class="wpforms-field-row-block wpforms-first wpforms-one-half">
						<input type="text" id="wpforms-94-field_0" class="wpforms-field-name-first wpforms-field-required" name="firstname" required="">
							<label for="wpforms-94-field_0" class="wpforms-field-sublabel after ">Vorname</label>
					</div>
					<div class="wpforms-field-row-block wpforms-one-half">
						<input type="text" id="wpforms-94-field_0-last" class="wpforms-field-name-last wpforms-field-required" name="lastname" required="">
						<label for="wpforms-94-field_0-last" class="wpforms-field-sublabel after ">Nachname</label>
					</div>
				</div>
			</div>
			<div id="wpforms-94-field_1-container" class="wpforms-field wpforms-field-email" data-field-id="1">
				<label class="wpforms-field-label" for="wpforms-94-field_1">E-Mail-Adresse 
					<span class="wpforms-required-label">*</span>
				</label>
				<input type="email" id="wpforms-94-field_1" class="wpforms-field-medium wpforms-field-required" name="email" required="">
			</div>
			<div id="wpforms-94-field_2-container" class="wpforms-field wpforms-field-textarea" data-field-id="2">
				<label class="wpforms-field-label" for="wpforms-94-field_2">Kommentar oder Nachricht 
					<span class="wpforms-required-label">*</span>
				</label>
				<textarea id="wpforms-94-field_2" class="wpforms-field-medium wpforms-field-required" name="message" required=""></textarea>
			</div>
		</div>
		<div class="wpforms-submit-container">
			<button type="submit" name="submit" class="wpforms-submit" data-alt-text="Senden..." data-submit-text="Senden">Senden</button>
		</div>
		<div style="position: absolute; left: -5000px;">
			  <input type="checkbox" name="liberal_forest_green_plaid_mug" value="1" tabindex="-1" autocomplete="no">
		</div>
	</form>
</div>
