<header class="header">        
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-5 header-left">
				<a class="header-banner" href="/"><h1 class="header-h1">{{ .Site.Title }}</h1></a>
			</div>

			<div class="col-md-2 header-center">
				<img class="header-wappen" src ="/images/wappen.png"  alt="Wappen der Großgasteiger">
			</div>

			<div class="col-md-5 header-right">
				<nav class="header-nav">
					<ul id="menu-haupt" class="header-nav-menu">
						<li id="menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140"><a href="/geschichte/">Geschichte</a></li>
						<li id="menu-item-141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-141"><a href="/stammbaum/">Stammbaum</a></li>
						<li id="menu-item-142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142"><a href="/medien/">Medien</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
